body { 
  margin:0;
  overflow:hidden; 
  font-family: 'Chewy', cursive;
}
.hide {
  display:none;
}
#title {
  position:absolute;
  z-index:10;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
  text-align:center;
  color:white;
}
#title h1 {
  font-size:8em;
}
#title h2 {
  color:white;
  font-size:3em;
  margin-top:5px;
  margin-bottom:5px;
  cursor:pointer;
  color:yellow;
}
#title h2:hover {
  color:#ff9999;
}
#title h3 {
  font-size:2em;
  margin:40px 0 0 280px;
}
#title dl {
  margin-top:10px;
  position:absolute;
  left:50%;
  margin-left:-100px;
  background: rgba(0,0,0,0.3);
  border-radius:10px;
  box-shadow:0px 0px 5px 1px #000;
  width:500px;
}
#title dl dt {
  float:left;
  clear: left;
  width:200px;
  padding:5px;
  border-top:1px solid #666;
}
#title dl dd {
  margin-left: 210px;  
  padding:5px;
  border-top:1px solid #666;
}
#title dl dt:first-child {
  border:none;
}
#title dl dt:first-child + dd {
  border:none;
}
header {
  margin:0;
  margin-top:20px;
  position:absolute;
  width:100px;
  top:0;
  left:0;
  height:100%;
}
header button {
  border:none;
  background:rgba(255,255,255,0.2);
  width:75px;
}
header button img {
  width:20px;
  vertical-align:middle;
}
#scores {
  margin:0;
  padding:20px;
  position:absolute;
  top:0;
  right:0;
  font-weight:bold;
  text-shadow:0 0 2px #ffffff;
}
#scores dt {
  float:left;
  clear:left;
  width:80px;
}
#scores dd {
  margin-left:90px;
}
menu[type="toolbar"] {
  margin:0;
  margin-bottom:20px;
  padding:0;
  position:absolute;
  width:100px;
  bottom:0;
  left:0;
}
menu[type="toolbar"] button {
  border:none;
  background:rgba(255,255,255,0.2);
  width:100px;
}
menu[type="toolbar"] button img {
  width:20px;
  vertical-align:middle;
}
#next-shot-button {
  background:rgba(255,255,255,0.5);
}
#hit {
  position:absolute;
  top:0;
  left:0;
  background-image:url(image/damage_frame.png);
  background-position:center center;
  background-repeat:none;
  width:150px;
  height:100px;
  padding-top:50px;
  text-align:center; 
  vertical-align:middle;
  font-size:1.5em; 
  font-weight:bold;
  color:black;
  z-index:999;
}
#help {
  position:absolute;
  z-index:10;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
}
#help img {
  top:50vh;
  left:50vw;
  margin-left:-367px;
  margin-top:-247px;
  width:735px;
  height:494px;
  position:absolute;
}
#stage-clear {
  position:absolute;
  z-index:10;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
  text-align:center;
  text-shadow:0 0 15px black;
  color:white;
  font-size:8em;
  padding-top:30%;
}
#game-clear {
  position:absolute;
  z-index:10;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
  text-align:center;
  text-shadow:0 0 15px black;
  color:white;
  font-size:8em;
  padding-top:20%;
}
