body { 
  margin:0;
  overflow:hidden; 
  font-family: 'Chewy', cursive;
}
.hide {
  display:none;
}
#title {
  position:absolute;
  z-index:10;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
  text-align:center;
  color:white;
}
#title h1 {
  font-size:8em;
  margin-bottom:10px;
}
#title h2 {
  font-size:3em;
  margin-bottom:5px;
  cursor:pointer;
}
#title h3 {
  font-size:2em;
  margin:20px 0 0 250px;
}
#title dl {
  margin-top:10px;
  position:absolute;
  left:50%;
  margin-left:-100px;
  background: rgba(0,0,0,0.3);
  border-radius:10px;
  box-shadow:0px 0px 5px 1px #000;
  width:500px;
}
#title dl dt {
  float:left;
  clear: left;
  width:200px;
  padding:5px;
  border-top:1px solid #666;
}
#title dl dd {
  margin-left: 210px;  
  padding:5px;
  border-top:1px solid #666;
}
#title dl dt:first-child {
  border:none;
}
#title dl dt:first-child + dd {
  border:none;
}
#hit {
  position:absolute;
  top:0;
  left:0;
  background-image:url(image/damage_frame.png);
  background-position:center center;
  background-repeat:none;
  width:150px;
  height:100px;
  padding-top:50px;
  text-align:center; 
  vertical-align:middle;
  font-size:1.5em; 
  font-weight:bold;
  color:black;
  z-index:999;
}
